
// mixin;
@mixin borda-arrendondada ($raio: 0.3em) {
  -webkit-border-radius: $raio;
  border-radius: $raio;

}



@mixin botao-padrao ($largura: 210px, $altura: 38px, $fonte: 1.2em) {
  width: $largura;
  height: $altura;
  font-size: $fonte;

}

@mixin coluna-padrao ($total-coluna: 2 ) {
  -webkit-column-count: $total-coluna;
  -moz-column-count: $total-coluna;
  column-count: $total-coluna;

}

// placeholder utilizado quando não há variaveis como mixin

%sombra-padrao {
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

%imagem-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

