// variáveis;
 $cor-padrao: darken( #c24e4b,0); // deixa a cor mais escura com o segundo paramentro
$cor-auxiliar: lighten( #1e2c35, 0); // deixa a cor mais clara com o segundo paramentro
$cor-branca: #fff;

$ponto-de-quebra: 980px;
